body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

#upload-section, #gallery {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

img {
    max-width: 100px;
    height: auto;
}
